In [13]:
import requests
import json
import pandas as pd
from pprint import pprint
from census import Census
from us import states

#Census API Key
from config import api_key
c = Census(api_key, year=2017)
c2= Census(api_key, year=2011)

In [14]:
states = ["Alabama", "Alaska", "Arizona","Arkansas","California","Colorado","Connecticut","Delaware","District of Columbia","Florida","Georgia",
          "Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts",
          "Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey",
          "New Mexico","New York","North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island",
          "South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin",
          "Wyoming"
]

df = pd.DataFrame(data={"States": states})
df["Median Income"] = ""
df["Home Value"] = ""
df["Bachelors Degree"] = ""
df["Population"] = ""
df["Divorce"] = ""

df.head()

       States Median Income Home Value Bachelors Degree Population Divorce
0     Alabama
1      Alaska
2     Arizona
3    Arkansas
4  California

In [26]:
# Pull US Census Data for each State
census_data = c.acs1.get(("NAME", "B01003_001E", "B15003_022E","B15003_023E","B15003_024E","B15003_025E",
                          "B23025_002E","B23025_005E", "B21003_001E", "B15003_017E","B15003_018E","B15003_019E",
                         "B15003_020E","B15003_021E"), {'for': 'state:*'})
census_2017 = pd.DataFrame(census_data)


# B15003_022E = Bachelors Degree
# B15003_023E = Masters
# B15003_024E = Professional
# B15003_025E = Doctor
# B19013_001E = Household income
# B01003_001E = Population
# B01002_001E = Median Age
# B19301_001E = Per Capita Income
# B15003_023E = Masters Degree
# B23025_002E = Labor Force
# B23025_004E = Employed
# B23025_005E = Unemployed
# B25077_001E = Median Home Value
# B08136_003E = Commute Time (in minutes)


census_2017 = census_2017.rename(columns={"B01003_001E": "Population",
                                      "B15003_022E": "Bachelors",
                                      "B15003_023E": "Masters",
                                      "B15003_024E": "Professional",
                                      "B15003_025E": "Doctor",
                                      "B23025_002E": "Labor Force",
                                      "B23025_005E": "Unemployed",
                                      "B21003_001E": "Pop25",
                                      "B15003_017E": "HS",
                                      "B15003_018E": "GED",
                                      "B15003_019E": "Under 1",
                                      "B15003_020E": "Over 1",
                                      "B15003_021E": "Associates",
                                      "NAME": "State", "state": "Code"})

# Add dataframe columns for bachelors and above as well as HS diploma and above (including GED)
census_2017["Bachelor+"] = census_2017["Bachelors"]+census_2017["Masters"]+census_2017["Professional"]+census_2017["Doctor"]
census_2017["HS+"]= census_2017["HS"]+census_2017["GED"]+census_2017["Bachelor+"]+census_2017["Under 1"]+census_2017["Over 1"]+census_2017["Associates"]

census_2017 = census_2017[["State", "Population","Pop25", "HS","GED","HS+","Bachelors", "Bachelor+","Labor Force", "Unemployed"]]

census_2017["Bachelors Rate"] = round((census_2017["Bachelor+"]/census_2017["Pop25"])*100,2)
census_2017["HS Diploma Rate"] = round(((census_2017["HS+"] + census_2017["GED"])/census_2017["Pop25"])*100,2)
census_2017["Unemployment Rate"] = round((census_2017["Unemployed"]/census_2017["Labor Force"])*100,2)

# Final Dataframe
census_2017 = census_2017[["State", "Population","Bachelors Rate", "HS Diploma Rate","Unemployment Rate"]]
# census_2017.to_csv("output.csv")



census_2017

,State,Population,Bachelors Rate,HS Diploma Rate,Unemployment Rate
0,Alabama,4874747.0,25.60,92.22,5.81
1,Alaska,739795.0,29.35,99.27,7.25
2,Arizona,7016270.0,29.43,91.37,5.77
3,Arkansas,3004279.0,23.46,93.16,5.55
4,California,39536653.0,33.73,85.81,5.87
5,Colorado,5607154.0,41.44,96.12,4.16
6,Connecticut,3588184.0,38.76,93.70,6.08
7,Delaware,961939.0,31.59,94.17,5.24
8,District of Columbia,693972.0,57.60,93.24,6.54
9,Florida,20984400.0,29.72,92.71,5.47
10,Georgia,10429379.0,31.04,92.20,5.71
11,Hawaii,1427538.0,33.87,97.16,3.95
12,Idaho,1716943.0,26.83,96.89,4.12
13,Illinois,12802023.0,34.47,92.83,6.13
14,Indiana,6666818.0,26.84,93.97,4.74
15,Iowa,3145711.0,28.95,96.18,3.58
16,Kansas,2913123.0,33.92,95.30,4.16
17,Kentucky,4454189.0,24.03,93.30,5.47
18,Louisiana,4684333.0,23.87,90.68,6.50
19,Maine,1335907.0,32.10,97.36,4.20
20,Maryland,6052177.0,39.84,93.45,5.17
21,Massachusetts,6859819.0,43.44,93.55,4.56
22,Michigan,9962311.0,29.13,94.83,5.88
23,Minnesota,5576606.0,36.07,96.23,3.60
24,Mississippi,2984100.0,21.93,90.83,6.97
25,Missouri,6113532.0,29.11,94.50,4.59
26,Montana,1050493.0,32.37,97.75,3.49
27,Nebraska,1920076.0,31.77,95.11,3.33
28,Nevada,2998039.0,24.96,90.99,5.91
29,New Hampshire,1342795.0,36.98,97.49,3.80
30,New Jersey,9005644.0,39.77,92.49,5.32
31,New Mexico,2088070.0,27.16,91.01,6.50
32,New York,19849399.0,36.07,90.70,5.48
33,North Carolina,10273419.0,31.55,92.60,5.19
34,North Dakota,755393.0,31.00,97.75,2.89
35,Ohio,11658609.0,27.98,94.24,5.15
36,Oklahoma,3930864.0,25.63,93.29,5.31
37,Oregon,4142776.0,33.75,95.38,5.09
38,Pennsylvania,12805537.0,31.46,94.48,5.29
39,Rhode Island,1059639.0,33.56,93.37,5.70
40,South Carolina,5024369.0,28.12,92.25,5.72
41,South Dakota,869666.0,28.23,96.28,3.51
42,Tennessee,6715984.0,27.42,93.92,4.90
43,Texas,28304596.0,29.67,88.21,5.12
44,Utah,3101833.0,34.67,95.25,3.56
45,Vermont,623657.0,38.33,95.95,3.76
46,Virginia,8470020.0,39.23,94.86,4.48
47,Washington,7405743.0,35.70,95.54,4.86
48,West Virginia,1815857.0,20.23,93.73,6.68
49,Wisconsin,5795483.0,30.40,95.90,3.48
50,Wyoming,579315.0,27.79,98.89,5.11
51,Puerto Rico,3337177.0,25.73,78.76,16.38

In [27]:
# Build exact same dataframe for 2011 data
census_data2 = c2.acs1.get(("NAME", "B01003_001E", "B15003_022E","B15003_023E","B15003_024E","B15003_025E",
                          "B23025_002E","B23025_005E", "B21003_001E", "B15003_017E","B15003_018E","B15003_019E",
                         "B15003_020E","B15003_021E"), {'for': 'state:*'})
census_2011 = pd.DataFrame(census_data2)

census_2011 = census_2011.rename(columns={"B01003_001E": "Population",
                                      "B15003_022E": "Bachelors",
                                      "B15003_023E": "Masters",
                                      "B15003_024E": "Professional",
                                      "B15003_025E": "Doctor",
                                      "B23025_002E": "Labor Force",
                                      "B23025_005E": "Unemployed",
                                      "B21003_001E": "Pop25",
                                      "B15003_017E": "HS",
                                      "B15003_018E": "GED",
                                      "B15003_019E": "Under 1",
                                      "B15003_020E": "Over 1",
                                      "B15003_021E": "Associates",
                                      "NAME": "State", "state": "Code"})

census_2011["Bachelor+"] = census_2011["Bachelors"]+census_2011["Masters"]+census_2011["Professional"]+census_2011["Doctor"]
census_2011["HS+"]= census_2011["HS"]+census_2011["GED"]+census_2011["Bachelor+"]+census_2011["Under 1"]+census_2011["Over 1"]+census_2011["Associates"]

census_2011 = census_2011[["State", "Population","Pop25", "HS","GED","HS+","Bachelors", "Bachelor+","Labor Force", "Unemployed"]]

census_2011["Bachelors Rate"] = round((census_2011["Bachelor+"]/census_2011["Pop25"])*100,2)
census_2011["HS Diploma Rate"] = round(((census_2011["HS+"] + census_2011["GED"])/census_2011["Pop25"])*100,2)
census_2011["Unemployment Rate"] = round((census_2011["Unemployed"]/census_2011["Labor Force"])*100,2)

census_2011 = census_2011[["State", "Population","Bachelors Rate", "HS Diploma Rate","Unemployment Rate"]]

census_2011

,State,Population,Bachelors Rate,HS Diploma Rate,Unemployment Rate
0,Alabama,4802740.0,22.33,88.27,11.50
1,Alaska,722718.0,26.96,99.11,8.46
2,Arizona,6482505.0,26.64,89.86,11.09
3,Arkansas,2937979.0,20.35,89.93,9.31
4,California,37691912.0,30.39,83.53,12.25
5,Colorado,5116796.0,36.88,94.53,9.19
6,Connecticut,3580709.0,36.23,92.47,10.57
7,Delaware,907135.0,28.95,90.49,8.88
8,District of Columbia,617996.0,52.61,90.06,11.31
9,Florida,19057542.0,25.91,90.30,12.34
10,Georgia,9815210.0,27.68,89.42,12.04
11,Hawaii,1374810.0,29.82,95.28,7.28
12,Idaho,1584985.0,25.29,93.83,9.94
13,Illinois,12869259.0,31.06,90.78,10.99
14,Indiana,6516922.0,23.03,92.24,9.99
15,Iowa,3062309.0,25.82,94.69,6.02
16,Kansas,2871238.0,30.31,95.18,7.36
17,Kentucky,4369356.0,21.14,90.56,10.34
18,Louisiana,4574836.0,21.18,88.13,9.20
19,Maine,1328188.0,28.43,95.99,8.57
20,Maryland,5828289.0,37.04,92.03,8.83
21,Massachusetts,6587536.0,39.19,92.18,9.24
22,Michigan,9876187.0,25.64,92.81,13.05
23,Minnesota,5344861.0,32.39,95.12,7.65
24,Mississippi,2978512.0,19.91,87.01,11.25
25,Missouri,6010688.0,26.13,92.29,9.35
26,Montana,998199.0,28.27,97.66,7.88
27,Nebraska,1842641.0,28.01,94.51,6.25
28,Nevada,2723322.0,22.56,88.31,12.57
29,New Hampshire,1318194.0,33.42,95.22,6.86
30,New Jersey,8821155.0,35.32,90.77,10.92
31,New Mexico,2082224.0,25.65,87.74,11.09
32,New York,19465197.0,32.96,88.80,9.55
33,North Carolina,9656401.0,27.12,89.61,11.50
34,North Dakota,683932.0,26.42,94.55,3.10
35,Ohio,11544951.0,24.68,92.15,10.41
36,Oklahoma,3791508.0,23.92,91.52,7.46
37,Oregon,3871859.0,29.35,93.82,11.96
38,Pennsylvania,12742886.0,26.98,92.67,9.37
39,Rhode Island,1051302.0,31.25,89.52,10.23
40,South Carolina,4679230.0,24.20,88.81,11.74
41,South Dakota,824082.0,26.48,95.87,5.44
42,Tennessee,6403353.0,23.68,90.57,10.50
43,Texas,25674681.0,26.53,85.93,8.44
44,Utah,2817222.0,29.81,93.12,7.95
45,Vermont,626431.0,35.46,95.36,6.40
46,Virginia,8096604.0,35.59,92.98,7.37
47,Washington,6830038.0,32.12,94.72,10.18
48,West Virginia,1855364.0,18.48,90.81,8.86
49,Wisconsin,5711767.0,26.50,93.94,8.16
50,Wyoming,568158.0,24.81,97.83,5.05
51,Puerto Rico,3706690.0,23.32,74.23,18.46

In [44]:
# Merge 2 dataframes
census_merged = pd.merge(census_2011, census_2017, how="inner",on="State",suffixes=("_2011", "_2017"))

# Reorder Columns for Readability
census_merged = census_merged[["State", "Population_2011", "Population_2017", "Bachelors Rate_2011", "Bachelors Rate_2017","Unemployment Rate_2011", "Unemployment Rate_2017"]]

# Calculate percent change between years for each metric
census_merged["Population Change"]=round((((census_merged["Population_2017"]-census_merged["Population_2011"])/census_merged["Population_2011"])*100),2)
census_merged["Education Change"]=round((((census_merged["Bachelors Rate_2017"]-census_merged["Bachelors Rate_2011"])/census_merged["Bachelors Rate_2011"])*100),2)
census_merged["Unemployment Change"]=round((((census_merged["Unemployment Rate_2017"]-census_merged["Unemployment Rate_2011"])/census_merged["Unemployment Rate_2011"])*100),2)

# Reorder Columns for Readability
census_merged=census_merged[["State","Population Change", "Education Change", "Unemployment Change"]]
census_merged

# rank order each metric
census_merged["Population Score"]= census_merged["Population Change"].rank()
census_merged["Education Score"]= census_merged["Education Change"].rank()
census_merged["Unemployment Score"]=census_merged["Unemployment Change"].rank(ascending=False)

# Reorder Columns for Readability
census_merged=census_merged[["State","Population Change", "Population Score", "Education Change","Education Score", "Unemployment Change", "Unemployment Score"]]
census_merged["Composite Score"]=census_merged["Population Score"]+census_merged["Education Score"]+census_merged["Unemployment Score"]
census_merged

,State,Population Change,Population Score,Education Change,Education Score,Unemployment Change,Unemployment Score,Composite Score
0,Alabama,1.50,15.0,14.64,41.0,-49.48,30.0,86.0
1,Alaska,2.36,24.0,8.86,9.0,-14.30,4.0,37.0
2,Arizona,8.23,43.0,10.47,17.0,-47.97,29.0,89.0
3,Arkansas,2.26,22.0,15.28,45.0,-40.39,12.0,79.0
4,California,4.89,35.0,10.99,22.0,-52.08,37.0,94.0
5,Colorado,9.58,46.0,12.36,31.0,-54.73,44.0,121.0
6,Connecticut,0.21,6.0,6.98,4.0,-42.48,19.0,29.0
7,Delaware,6.04,38.0,9.12,10.0,-40.99,14.0,62.0
8,District of Columbia,12.29,52.0,9.48,13.0,-42.18,18.0,83.0
9,Florida,10.11,49.0,14.70,42.0,-55.67,48.0,139.0
10,Georgia,6.26,39.0,12.14,30.0,-52.57,40.0,109.0
11,Hawaii,3.84,28.5,13.58,37.0,-45.74,26.0,91.5
12,Idaho,8.33,44.0,6.09,2.0,-58.55,52.0,98.0
13,Illinois,-0.52,3.0,10.98,21.0,-44.22,23.0,47.0
14,Indiana,2.30,23.0,16.54,50.0,-52.55,39.0,112.0
15,Iowa,2.72,26.0,12.12,29.0,-40.53,13.0,68.0
16,Kansas,1.46,13.0,11.91,27.0,-43.48,21.0,61.0
17,Kentucky,1.94,18.0,13.67,39.0,-47.10,28.0,85.0
18,Louisiana,2.39,25.0,12.70,33.0,-29.35,7.0,65.0
19,Maine,0.58,9.0,12.91,34.0,-50.99,34.0,77.0
20,Maryland,3.84,28.5,7.56,7.0,-41.45,17.0,52.5
21,Massachusetts,4.13,30.0,10.84,20.0,-50.65,32.0,82.0
22,Michigan,0.87,11.0,13.61,38.0,-54.94,46.0,95.0
23,Minnesota,4.34,32.0,11.36,24.0,-52.94,41.0,97.0
24,Mississippi,0.19,5.0,10.15,14.0,-38.04,9.0,28.0
25,Missouri,1.71,16.0,11.40,25.0,-50.91,33.0,74.0
26,Montana,5.24,36.0,14.50,40.0,-55.71,49.0,125.0
27,Nebraska,4.20,31.0,13.42,36.0,-46.72,27.0,94.0
28,Nevada,10.09,47.0,10.64,18.0,-52.98,42.0,107.0
29,New Hampshire,1.87,17.0,10.65,19.0,-44.61,25.0,61.0
30,New Jersey,2.09,21.0,12.60,32.0,-51.28,35.5,88.5
31,New Mexico,0.28,7.0,5.89,1.0,-41.39,16.0,24.0
32,New York,1.97,20.0,9.44,11.0,-42.62,20.0,51.0
33,North Carolina,6.39,40.0,16.33,49.0,-54.87,45.0,134.0
34,North Dakota,10.45,51.0,17.34,52.0,-6.77,2.0,105.0
35,Ohio,0.98,12.0,13.37,35.0,-50.53,31.0,78.0
36,Oklahoma,3.68,27.0,7.15,5.0,-28.82,6.0,38.0
37,Oregon,7.00,41.0,14.99,44.0,-57.44,51.0,136.0
38,Pennsylvania,0.49,8.0,16.60,51.0,-43.54,22.0,81.0
39,Rhode Island,0.79,10.0,7.39,6.0,-44.28,24.0,40.0
40,South Carolina,7.38,42.0,16.20,47.0,-51.28,35.5,124.5
41,South Dakota,5.53,37.0,6.61,3.0,-35.48,8.0,48.0
42,Tennessee,4.88,34.0,15.79,46.0,-53.33,43.0,123.0
43,Texas,10.24,50.0,11.84,26.0,-39.34,11.0,87.0
44,Utah,10.10,48.0,16.30,48.0,-55.22,47.0,143.0
45,Vermont,-0.44,4.0,8.09,8.0,-41.25,15.0,27.0
46,Virginia,4.61,33.0,10.23,15.0,-39.21,10.0,58.0
47,Washington,8.43,45.0,11.15,23.0,-52.26,38.0,106.0
48,West Virginia,-2.13,2.0,9.47,12.0,-24.60,5.0,19.0
49,Wisconsin,1.47,14.0,14.72,43.0,-57.35,50.0,107.0
50,Wyoming,1.96,19.0,12.01,28.0,1.19,1.0,48.0
51,Puerto Rico,-9.97,1.0,10.33,16.0,-11.27,3.0,20.0