In [9]:
import requests
import json
import pandas as pd
from pprint import pprint

states = ["Alabama", "Alaska", "Arizona","Arkansas","California","Colorado","Connecticut","Delaware","District of Columbia","Florida","Georgia",
          "Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts",
          "Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey",
          "New Mexico","New York","North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island",
          "South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin",
          "Wyoming"
]

In [10]:
df = pd.DataFrame(data={"States": states})
df["Median Income"] = ""
df["Home Value"] = ""
df["Bachelors Degree"] = ""
df["Population"] = ""
df["Divorce"] = ""


df

,States,Median Income,Home Value,Bachelors Degree,Population,Divorce
0,Alabama,,,,,
1,Alaska,,,,,
2,Arizona,,,,,
3,Arkansas,,,,,
4,California,,,,,
5,Colorado,,,,,
6,Connecticut,,,,,
7,Delaware,,,,,
8,District of Columbia,,,,,
9,Florida,,,,,
10,Georgia,,,,,
11,Hawaii,,,,,
12,Idaho,,,,,
13,Illinois,,,,,
14,Indiana,,,,,
15,Iowa,,,,,
16,Kansas,,,,,
17,Kentucky,,,,,
18,Louisiana,,,,,
19,Maine,,,,,
20,Maryland,,,,,
21,Massachusetts,,,,,
22,Michigan,,,,,
23,Minnesota,,,,,
24,Mississippi,,,,,
25,Missouri,,,,,
26,Montana,,,,,
27,Nebraska,,,,,
28,Nevada,,,,,
29,New Hampshire,,,,,
30,New Jersey,,,,,
31,New Mexico,,,,,
32,New York,,,,,
33,North Carolina,,,,,
34,North Dakota,,,,,
35,Ohio,,,,,
36,Oklahoma,,,,,
37,Oregon,,,,,
38,Pennsylvania,,,,,
39,Rhode Island,,,,,
40,South Carolina,,,,,
41,South Dakota,,,,,
42,Tennessee,,,,,
43,Texas,,,,,
44,Utah,,,,,
45,Vermont,,,,,
46,Virginia,,,,,
47,Washington,,,,,
48,West Virginia,,,,,
49,Wisconsin,,,,,
50,Wyoming,,,,,